{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
    <title>StudyBuddy - Find study partners around the world!</title>
</head>

<body>
    <!-- Navbar -->
    {% include 'navbar.html' %}

    <!-- Flash Message when login/logout -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </li>
        <!-- <li>{{ message }}</li> -->
        {% endfor %}
    </ul>
    {% endif %}
    <!-- End Flash Message -->

    <!-- Contents -->
    {% block content %}

    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-alerts@1.2.2/bootstrap-alerts.min.js"></script>
</body>

</html>
